<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Library Management{% endblock %}</title>
    <style>
        .navbar {
            background-color: #333;
            padding: 1em;
            color: white;
        }
        .logout-form {
            display: inline;
        }
        .logout-button {
            background-color: #ff4444;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="navbar">
      <div class ="nav-left">
         {% if user.is_authenticated %}
            <span class="Welcome-text">Welcome, {{ user.username }}</span>
            <a href="{% url 'list_books' %}"> Books</a>
         {% endif %}
      </div>
      <div class="nav-right">
         {% if user.is_authenticated %}
            <form class="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="logout-button" type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>